{{ $news := where .Site.RegularPages "Section" "news" }}
{{ if eq (len $news) 0 }}
    {{ $news = where .Site.RegularPages "Type" "news" }}
{{ end }}
{{ range first 5 $news.ByDate.Reverse }}
<div class="news-entry">
    <div class="news-header">
        <span class="news-date">{{ .Date.Format "2006-01-02" }}</span>
        {{ if .Params.redirect_url }}
            <a href="{{ .Params.redirect_url }}" class="news-title">{{ .Title | markdownify }}</a>
        {{ else }}
            <a href="{{ .RelPermalink }}" class="news-title">{{ .Title | markdownify }}</a>
        {{ end }}
    </div>
</div>
{{ end }}
